@font-face {
    font-family: ttTravelsReg;
    src:url('../font/TT\ TravelsNextRegular.ttf') format('truetype');
}
@font-face {
    font-family: ttTravelsBold;
    src:url('../font/TT\ TravelsNextBold.ttf')  format('truetype');
}
@font-face {
    font-family: ttTravelsMed;
    src:url('../font/TT\ TravelsNextMed.ttf') format('truetype');
}
*{
    font-family: ttTravelsReg;
}