@font-face {
    font-family: ttTravelsReg;
    src:url("../resources/font/TT\ Travels\ Next\ Regular.ttf") format('truetype');
}
@font-face {
    font-family: ttTravelsBold;
    src:url("../resources/font/TT\ Travels\ Next\ Bold.ttf")  format('truetype');;
}
@font-face {
    font-family: ttTravelsMed;
    src:url("../resources/font/TT\ Travels\ Next\ Medium.ttf") format('truetype');;
}
*{
    font-family: ttTravelsReg;
}