@font-face {
    font-family: ttTravelsReg;
    src:url("../../resources/font/TT\ Travels\ Next\ Regular.ttf");
}
@font-face {
    font-family: ttTravelsBold;
    src:url("../../resources/font/TT\ Travels\ Next\ Bold.ttf");
}
@font-face {
    font-family: ttTravelsMed;
    src:url("../../resources/font/TT\ Travels\ Next\ Medium.ttf");
}
*{
    font-family: ttTravelsReg;
}