.footer {
    background-color: black;
    display: flex;
    padding: 2.5rem;
    justify-content: space-between;
    &__socialIcon {
       
    }


}

@media(max-width:550px) {
    .footer {
        flex-direction: column;
       align-items: center;

        &__logo{
            order: 2;
            margin-top: 24px;
        }
        &__socialIcon{
            margin: 6px;
        }
    }
}